<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<script src="/js/jquery.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
    <script src="/ch/dist/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/ch/dist/Chart.min.css">

    

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->
    <title>Serra Smart graph</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <canvas id="myChart" width="300" height="300"></canvas>
    
   
  </body>

  <script>
    //var myData = <%= temp_int %>
    var myData = JSON.parse('<%-JSON.stringify(temp_int)%>');
    //alert(myData)
    //myLabel = <%= date %>
    var myLabel = JSON.parse('<%-JSON.stringify(date)%>');
    var speedCanvas = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var speedData = {
      labels: myLabel,
      datasets: [{
        label: "Internal Temperature",
        data: myData,
      }]
    };

    var chartOptions = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
    xAxes: [{
      gridLines: {
        display: false,
        color: "black"
      },
      scaleLabel: {
        display: true,
        labelString: "Date",
        fontColor: "red"
      }
    }],
    yAxes: [{
      gridLines: {
        color: "black",
        borderDash: [2, 5],
      },
      scaleLabel: {
        display: true,
        labelString: "Internal temperature",
        fontColor: "green"
      },
      ticks: {
                    suggestedMin: 0,
                    suggestedMax: 35
                }
    }]
  }
    };

    var lineChart = new Chart(speedCanvas, {
      type: 'line',
      data: speedData,
      options: chartOptions
    });
</script>

</html>


