<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<script src="/js/jquery.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->
    <title>Serra Smart</title>
  </head>
  <body>
    <%- include('partials/header') %>

    
     <div class="container-fluid">
      <h2>Serra Settings</h2>
      <form class= "form" action="/settingssave" method="post">
        <div class="row ml-4">
          <div class="col-lg-4">
            <h4>User Settings</h4>
            <label for="fname" class="form-label p-3">Name:</label><br>
            <input type="text" style="width:250px;" class="form-control p-3" id="name" name="name" value="<%= name %>"><br><br>
            <label for="lname" class="form-label p-3">Email:</label><br>
            <input type="text" style="width:250px;" class="form-control p-3" id="email" name="email" value="<%= email %>"><br><br>
          </div>
          <div class="col-lg-4">
            <h4>Timer Settings</h4>
            <label for="lname">Timer:</label><br>
            <select name="timer" id="timer" class="form-label form-control-sm ">
              <option>ON</option>
              <option>OFF</option>
              <option selected="selected">
                <%= timer %>
              </option>
            </select><br>
            <label for="lname">Timer Start:</label><br>
            <input type="time" style="width:250px;" class="form-control" id="Tstart" name="Tstart" value="<%= timersh %>">
            <input type="date" style="width:250px;" class="form-control" id="Dstart" name="Dstart" value="<%= timersd %>"><br><br>
            <label for="lname">Timer End:</label><br>
            <input type="time" style="width:250px;" class="form-control" id="Tstop" name="Tstop" value="<%= timereh %>">
            <input type="date" style="width:250px;" class="form-control" id="Dstop" name="Dstop" value="<%= timered %>"><br><br>
          </div>  
          <div class="col-lg-4"> 
            <h4>PIN Settings</h4>      
            <label for="lname">Light PIN:</label><br>
            <input type="text" style="width:250px;" class="form-control" id="light" name="light" value="<%= light %>"><br><br>
            <label for="lname">Fan PIN:</label><br>
            <input type="text" style="width:250px;" class="form-control" id="fan" name="fan" value="<%= fan %>"><br><br>
            <label for="lname">Pump PIN:</label><br>
            <input type="text" style="width:250px;" class="form-control" id="pump" name="pump" value="<%= pump %>"><br><br>
            <label for="lname">Temperature Int PIN:</label><br>
            <input type="text" style="width:250px;" class="form-control" id="tempint" name="tempint" value="<%= tempint %>"><br><br>
            <label for="lname">Temperature Ext PIN:</label><br>
            <input type="text" style="width:250px;" class="form-control" id="tempext" name="tempext" value="<%= tempext %>"><br><br>
          </div>
        </div>    
        <div class="col text-center mt-4"> 
          <button type="submit" style="width:250px; height: 80px;" class="btn btn-warning">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>