<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<script src="/js/jquery.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->
    <title>Serra Smart</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h2>Serra Settings</h2>

    <form action="/settingssave" method="post"></form>

      <label for="fname" class="form-label">Name:</label><br>
      <input type="text" class="form-control" id="name" name="name" value="<%= name %>"><br><br>
      <label for="lname" class="form-label">Email:</label><br>
      <input type="text" class="form-control" id="email" name="email" value="<%= email %>"><br><br>
        
      <label for="lname">Timer:</label><br>
      <select name="timer" id="timer">
        <option>ON</option>
        <option>OFF</option>
        <option selected="selected">
          <%= timer %>
        </option>
      </select><br>
      <label for="lname">Timer Start:</label><br>
      <input type="time" id="Tstart" name="Tstart" value="<%= timersh %>"><br><br>
      <input type="date" id="Dstart" name="Dstart" value="<%= timersd %>"><br><br>
      <label for="lname">Timer End:</label><br>
      <input type="time" id="Tstop" name="Tstop" value="<%= timereh %>"><br><br>
      <input type="date" id="Dstop" name="Dstop" value="<%= timered %>"><br><br>
            
      <label for="lname">Light PIN:</label><br>
      <input type="text" id="light" name="light" value="<%= light %>"><br><br>
      <label for="lname">Temperature Int PIN:</label><br>
      <input type="text" id="tempint" name="tempint" value="<%= tempint %>"><br><br>
      <label for="lname">Temperature Ext PIN:</label><br>
      <input type="text" id="tempext" name="tempext" value="<%= tempext %>"><br><br>
          
      <input type="submit" value="Save">
    </form>
  </body>
</html>