<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Serra Smart</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h2>Serra Settings</h2>

      <form action="/settingssave" method="post">
        <label for="fname">Name:</label><br>
        <input type="text" id="name" name="name" value="<%= name %>"<br><br>
        <label for="lname">Email:</label><br>
        <input type="text" id="email" name="email" value="<%= email %>"><br><br>
        <label for="lname">Light PIN:</label><br>
        <input type="text" id="light" name="light" value="<%= light %>"><br><br>
        <label for="lname">Temperature Int PIN:</label><br>
        <input type="text" id="tempint" name="tempint" value="<%= tempint %>"><br><br>
        <label for="lname">Temperature Ext PIN:</label><br>
        <input type="text" id="tempext" name="tempext" value="<%= tempext %>"><br><br>
        <label for="lname">Timer:</label><br>
          <select name="timer" id="timer">
            <option>ON</option>
            <option>OFF</option>
            <option selected="selected">
              <%= timer %>
              </option>
          </select>
        <input type="submit" value="Save">
      </form> 

      <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>